p Choose some files and check it out.
      .btn.btn-primary(data-filepicker-btn='data-filepicker-btn', data-preview-on-upload='true', data-prevent-default='true') Choose ...
      .container.files
        .file(data-ng-repeat='file in files')
          .preview
            img(data-ng-src='{{file.url}}', alt='')
          h5 {{file.filename}}
          pre {{file}}
          pre {{newFile}}
    .modal-backdrop.in(data-ng-show='filepickerModalOpen', data-ng-click='modalClose()')
    #filepicker-modal-container(data-ng-show='filepickerModalOpen')
      a.glyphicon.glyphicon-close(data-ng-click='filepickerModalClose()')
      iframe#filepicker-modal(name='filepicker-modal', frameborder='0', marginwidth='0', marginheight='0', data-ng-show='filepickerModalOpen')

